# Movielens 데이터 추천시스템 구현(Matrix Factorization)

In [2]:
import pandas as pd
import numpy as np

In [14]:
movie=pd.read_csv('F:/Data/movies.csv')
rating=pd.read_csv('F:/Data/ratings.csv')

In [15]:
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [16]:
rating

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [17]:
matrix=rating.pivot_table('rating',index=['userId'],columns=['movieId']).fillna(0)

In [18]:
matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 사용자-영화별 평균평점

In [19]:
urat_mean=matrix.mean(axis=1).values.reshape(-1,1)

In [20]:
up_mat=matrix-urat_mean

In [21]:
up_mat

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.895825,-0.104175,3.895825,-0.104175,-0.104175,3.895825,-0.104175,-0.104175,-0.104175,-0.104175,...,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175
2,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,...,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775
3,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,...,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770
4,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,...,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980
5,3.983546,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,...,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.080625,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,2.080625,-0.419375,-0.419375,-0.419375,...,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375,-0.419375
607,3.927190,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,...,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810,-0.072810
608,2.232158,1.732158,1.732158,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,3.732158,...,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842,-0.267842
609,2.987557,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,3.987557,...,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443,-0.012443
610,4.506119,-0.493881,-0.493881,-0.493881,-0.493881,4.506119,-0.493881,-0.493881,-0.493881,-0.493881,...,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881,-0.493881

In [22]:
from scipy.sparse.linalg import svds
from scipy.linalg import svd

In [23]:
u,s,v=svds(up_mat,k=10)

In [24]:
print(u.shape,s.shape,v.shape)

(610, 10) (10,) (10, 9724)

In [25]:
s_diag=np.diag(s)

In [26]:
mat_rating=pd.DataFrame(u.dot(s_diag).dot(v),index=up_mat.index,columns=up_mat.columns)

In [27]:
preds=mat_rating+up_mat

In [28]:
preds

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,6.627459,0.720051,4.759368,-0.232390,0.013485,5.515858,-0.081611,-0.221827,-0.053896,1.808757,...,-0.227343,-0.225664,-0.229022,-0.229022,-0.227343,-0.229022,-0.227343,-0.227343,-0.227343,-0.237244
2,0.167126,-0.049844,-0.049586,-0.018028,0.004766,0.064901,-0.085197,-0.014708,-0.030003,-0.094203,...,-0.013840,-0.014646,-0.013035,-0.013035,-0.013840,-0.013035,-0.013840,-0.013840,-0.013840,-0.006428
3,0.013813,-0.010856,-0.000746,-0.016047,-0.033870,0.055834,-0.034678,-0.015440,-0.004085,0.046225,...,-0.010982,-0.010986,-0.010979,-0.010979,-0.010982,-0.010979,-0.010982,-0.010982,-0.010982,-0.012909
4,1.400959,0.117487,0.113656,-0.114100,0.025809,0.115394,0.188969,-0.212204,-0.194424,-0.089278,...,-0.175368,-0.175230,-0.175507,-0.175507,-0.175368,-0.175507,-0.175368,-0.175368,-0.175368,-0.184511
5,5.239980,0.958332,0.387142,0.090047,0.502243,0.720422,0.601489,0.084682,0.077759,1.118629,...,-0.036617,-0.036733,-0.036500,-0.036500,-0.036617,-0.036500,-0.036617,-0.036617,-0.036617,-0.037433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,4.145321,0.038070,-2.050978,-0.622111,-1.108976,0.044959,3.472744,-0.933140,-0.951622,-1.223726,...,-0.723113,-0.724094,-0.722131,-0.722131,-0.723113,-0.722131,-0.723113,-0.723113,-0.723113,-0.761204
607,6.351655,0.853392,0.546128,-0.110058,0.175563,1.442780,0.201241,-0.124738,0.030313,1.750836,...,-0.139984,-0.139343,-0.140626,-0.140626,-0.139984,-0.140626,-0.139984,-0.139984,-0.139984,-0.149679
608,4.800663,3.403885,3.295722,-0.626287,-0.076970,2.632847,0.020224,-0.181820,-0.289925,7.377432,...,-0.586020,-0.578995,-0.593045,-0.593045,-0.586020,-0.593045,-0.586020,-0.586020,-0.586020,-0.539984
609,3.813767,0.623364,0.285572,0.064490,0.324433,0.661273,0.377115,0.069732,0.080492,4.915265,...,-0.017473,-0.017486,-0.017461,-0.017461,-0.017473,-0.017461,-0.017473,-0.017473,-0.017473,-0.016663
610,4.833611,1.785806,-1.285527,-0.949576,-1.210794,8.070035,-1.758000,-0.555824,-0.929675,0.717137,...,-0.900788,-0.906667,-0.894908,-0.894908,-0.900788,-0.894908,-0.900788,-0.900788,-0.900788,-0.868997

In [31]:
sort_r=preds.loc[300].sort_values(ascending=False)
sort_r

movieId
527     6.485670
2858    6.364326
2959    6.334614
318     6.233229
7361    6.053850
          ...
2640   -0.314815
2193   -0.320803
1967   -0.328417
1356   -0.336608
2529   -0.341278
Name: 300, Length: 9724, dtype: float64

In [35]:
user_dt=rating[rating.userId==300]
user_dt

       userId  movieId  rating   timestamp
45497     300      318     4.0  1425351440
45498     300      356     4.0  1425351838
45499     300      527     5.0  1425351444
45500     300      593     4.0  1425351824
45501     300     1172     5.0  1425351831
45502     300     1704     3.0  1425351457
45503     300     2028     4.0  1425351455
45504     300     2324     5.0  1425351454
45505     300     2329     4.0  1425351826
45506     300     2571     4.0  1425351455
45507     300     2762     3.5  1425351463
45508     300     2858     5.0  1425351840
45509     300     2959     4.5  1425351831
45510     300     4848     4.0  1425352220
45511     300     4973     4.0  1425351826
45512     300     5995     4.5  1425351827
45513     300     6016     5.0  1425351465
45514     300     6711     5.0  1425352017
45515     300     7361     5.0  1425351852
45516     300     8950     3.0  1425352209
45517     300    48394     5.0  1425352021
45518     300    56174     3.0  1425351494
45519     300    63082     4.0  1425351852
45520     300    79132     4.0  1425351826
45521     300    81591     5.0  1425352062
45522     300    92259     4.0  1425351835
45523     300    99114     3.5  1425351854
45524     300   109487     5.0  1425351522
45525     300   112183     4.0  1425351526
45526     300   112290     5.0  1425351524
45527     300   112552     4.5  1425351519
45528     300   112556     5.0  1425351523

In [37]:
user_his=user_dt.merge(movie,on='movieId').sort_values('rating',ascending=False)
user_his

,userId,movieId,rating,timestamp,title,genres
16,300,6016,5.0,1425351465,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
11,300,2858,5.0,1425351840,American Beauty (1999),Drama|Romance
29,300,112290,5.0,1425351524,Boyhood (2014),Drama
27,300,109487,5.0,1425351522,Interstellar (2014),Sci-Fi|IMAX
24,300,81591,5.0,1425352062,Black Swan (2010),Drama|Thriller
20,300,48394,5.0,1425352021,"Pan's Labyrinth (Laberinto del fauno, El) (2006)",Drama|Fantasy|Thriller
18,300,7361,5.0,1425351852,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
17,300,6711,5.0,1425352017,Lost in Translation (2003),Comedy|Drama|Romance
31,300,112556,5.0,1425351523,Gone Girl (2014),Drama|Thriller
2,300,527,5.0,1425351444,Schindler's List (1993),Drama|War
7,300,2324,5.0,1425351454,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
4,300,1172,5.0,1425351831,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
30,300,112552,4.5,1425351519,Whiplash (2014),Drama
12,300,2959,4.5,1425351831,Fight Club (1999),Action|Crime|Drama|Thriller
15,300,5995,4.5,1425351827,"Pianist, The (2002)",Drama|War
9,300,2571,4.0,1425351455,"Matrix, The (1999)",Action|Sci-Fi|Thriller
22,300,63082,4.0,1425351852,Slumdog Millionaire (2008),Crime|Drama|Romance
28,300,112183,4.0,1425351526,Birdman: Or (The Unexpected Virtue of Ignoranc...,Comedy|Drama
3,300,593,4.0,1425351824,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
25,300,92259,4.0,1425351835,Intouchables (2011),Comedy|Drama
23,300,79132,4.0,1425351826,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
0,300,318,4.0,1425351440,"Shawshank Redemption, The (1994)",Crime|Drama
6,300,2028,4.0,1425351455,Saving Private Ryan (1998),Action|Drama|War
1,300,356,4.0,1425351838,Forrest Gump (1994),Comedy|Drama|Romance|War
14,300,4973,4.0,1425351826,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
13,300,4848,4.0,1425352220,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller
8,300,2329,4.0,1425351826,American History X (1998),Crime|Drama
10,300,2762,3.5,1425351463,"Sixth Sense, The (1999)",Drama|Horror|Mystery
26,300,99114,3.5,1425351854,Django Unchained (2012),Action|Drama|Western
21,300,56174,3.0,1425351494,I Am Legend (2007),Action|Horror|Sci-Fi|Thriller|IMAX
19,300,8950,3.0,1425352209,The Machinist (2004),Drama|Mystery|Thriller
5,300,1704,3.0,1425351457,Good Will Hunting (1997),Drama|Romance

In [38]:
re=movie[~movie['movieId'].isin(user_his['movieId'])]
re

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [41]:
re_res=re.merge(pd.DataFrame(sort_r).reset_index(),on='movieId')

In [42]:
re_res

,movieId,title,genres,300
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.418037
1,2,Jumanji (1995),Adventure|Children|Fantasy,-0.157910
2,3,Grumpier Old Men (1995),Comedy|Romance,-0.137807
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,-0.010691
4,5,Father of the Bride Part II (1995),Comedy,-0.037722
...,...,...,...,...
9687,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,-0.017117
9688,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,-0.017629
9689,193585,Flint (2017),Drama,-0.017629
9690,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,-0.017629
9691,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,-0.004994

In [43]:
re_res.rename(columns={300:'Predict'})

,movieId,title,genres,Predict
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.418037
1,2,Jumanji (1995),Adventure|Children|Fantasy,-0.157910
2,3,Grumpier Old Men (1995),Comedy|Romance,-0.137807
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,-0.010691
4,5,Father of the Bride Part II (1995),Comedy,-0.037722
...,...,...,...,...
9687,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,-0.017117
9688,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,-0.017629
9689,193585,Flint (2017),Drama,-0.017629
9690,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,-0.017629
9691,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,-0.004994

# 입력함수

In [52]:
def recomend(preds,user_id,rating,movie,num=10):
    # 사용자에 따른 데이터 정렬(점수기준 내림차순)
    sort_user_pred=preds.loc[user_id].sort_values(ascending=False)
    
    # userid 정보
    user_dt=rating[rating.userId==user_id]
#     print(user_dt)
    user_his=user_dt.merge(movie,on='movieId').sort_values('rating',ascending=False)
#     print(user_his)
    recommend=movie[~movie['movieId'].isin(user_his['movieId'])]
#     print(recommend)
    recommend_res=recommend.merge(pd.DataFrame(sort_user_pred).reset_index(),on='movieId')
#     print(recommend_res)
    
#     recommend_res=recommend.rename(columns={user_id:'Predict'}).sort_values('Predict')
    recommend_res=recommend_res.rename(columns={user_id:'Predict'}).sort_values('Predict',ascending=False)[:num]
#     print(recommend_res)
    
    return user_his,recommend_res

In [53]:
history,res=recomend(preds,200,rating,movie)

In [54]:
history

,userId,movieId,rating,timestamp,title,genres
51,200,1196,5.0,1229886264,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
307,200,51255,5.0,1229886899,Hot Fuzz (2007),Action|Comedy|Crime|Mystery
177,200,4308,5.0,1229886822,Moulin Rouge (2001),Drama|Musical|Romance
226,200,6874,5.0,1229886192,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
33,200,597,5.0,1229886223,Pretty Woman (1990),Comedy|Romance
...,...,...,...,...,...,...
89,200,1894,1.0,1229889198,Six Days Seven Nights (1998),Adventure|Comedy|Romance
248,200,8638,1.0,1229878063,Before Sunset (2004),Drama|Romance
70,200,1438,1.0,1229889470,Dante's Peak (1997),Action|Thriller
98,200,2123,0.5,1229877257,All Dogs Go to Heaven (1989),Animation|Children|Comedy|Drama|Fantasy
304,200,50601,0.5,1229878711,Bridge to Terabithia (2007),Adventure|Children|Fantasy

In [55]:
res

,movieId,title,genres,Predict
301,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,3.503582
1627,2329,American History X (1998),Crime|Drama,3.037519
3542,5218,Ice Age (2002),Adventure|Animation|Children|Comedy,2.919428
1954,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,2.890713
1908,2706,American Pie (1999),Comedy|Romance,2.828093
903,1265,Groundhog Day (1993),Comedy|Fantasy|Romance,2.714231
479,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,2.695945
2218,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,2.568008
1346,1961,Rain Man (1988),Drama,2.509263
1407,2028,Saving Private Ryan (1998),Action|Drama|War,2.469171

# userid가 200인 유저는 주로 adventure,comedy에 높은 점수를 줌. 추천영화에도 adventure와 comedy 장르가 비교적 많음.